
:root{
    --backgr:#00012c;
    --text:rgba(255, 255, 255, 0.192);
    --text2:rgb(255, 255, 255);
    --backgr2:rgb(209, 18, 18);
    --red-text:rgba(209, 18, 18, 0.781);
    --fw: bold;
    --fs: italic;
    --fofamily: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    color: rgba(219, 213, 213, 0.657);
    font-family: var(--fofamily);
    
}
a{
    text-transform: capitalize;
    text-decoration: none;
}
body{
    background:var(--backgr);
}

.nav{
    width: 100%;
    height: auto;
    padding: 23px;
    border-bottom: 2px solid var(--text);
    padding-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999999999;
}
.link{
    display: flex;
    width: 100%;
    
}
li{
    list-style: none;
}
.link ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}
.link ul li:hover{
    background-color: var(--text);
    border-radius: 12px;

}
.link ul li{
 font-size: large;
 border-right: 1px solid rgba(255, 255, 255, 0.719);
    padding-right: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    z-index: 999;
}
.activelon{
    background-color: var(--text);
    border-radius: 12px;
}
.activelon a{
   color: var(--text2);
}
.activelon a i{
   color: var(--text2);
}




/* 
 */


.fixed-more{
    position: fixed;
    right: -100vh;
    height: 50vh;
    width: 30%;
    background-color: var(--backgr);
    border-radius: 33px 2px 7px;
    display: flex;
    transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
    /* align-items: center; */
    padding-left: 7%;
    /* justify-content: center; */
    
}
b{
    cursor: pointer;
}


.fixed-more-active{
    position: fixed;

    right: 0vh;
    height: 50vh;
    width: 30%;
    background-color: var(--backgr);
    border-radius: 33px 2px 7px;
    display: flex;
    padding-left: 7%;
}
.fixed-more ul{
 display: flex;
 position: relative;
 flex-direction: column;
 align-items: center;
 justify-content: space-between;
 padding: 12px;
}
.moreclose{
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 24px;
    background-color: var(--text);
    color: var(--red-text);
    cursor: pointer;
}
.fixed-more ul li{
border-bottom: 2px solid var(--text);
}
.fixed-more ul li:hover{
border-bottom: 4px solid var(--text);
border-inline: 23px;
}

.notifyme{
position: absolute;
top: 3px;
z-index: -999;
right: 2px;
color: rgba(240, 240, 240, 0.863);
background-color: var(--red-text);
border-radius: 40%;
}
.barclic,.cls{
    display: none;
}

@media screen and (max-width:930px) {
    .hiddes{
        display: none;
    }
.cls{
    display: flex;
}
.barclic{
    font-size: 39px;
    cursor: pointer;
  left: 142px;
  display: flex;
  top: 20px;
    position: fixed;
}
.nav{
    min-width: 250px;
    max-width: 30%;
    background-color: var(--text);
    height: 100vh;
    padding: 23px;
    border-bottom: unset;
    padding-bottom: 2px;
    display: flex;
    align-items: unset;
transition: all 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    justify-content: unset;
    position: fixed;
    left: -100vh;
    
    /* left: -100vh; */

}
.navactive{
    min-width: 250px;
    max-width: 30%;
transition: left 1.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    background-color: var(--text);
    height: 100vh;
    padding: 23px;
    border-bottom: unset;
    padding-bottom: 2px;
    display: flex;
    align-items: unset;
top: 0;
    justify-content: unset;
    position: fixed;
    left: 0vh;
}
.link{
    display: flex;
    width: 100%;
    
}
li{
    list-style: none;
    cursor: pointer;

}
.nav{
    background-color: rgb(0, 1, 44);
}
.nav ul{
    background-color: rgb(0, 1, 44);

}
.link ul{
    display: flex;
    width: 100%;
    align-items: unset;
    flex-direction: column;
    justify-content: space-between;
    
}
.link ul li:hover{
    background-color: var(--text);
    border-radius: 12px;

}
.link ul li{
    width: 100%;
 font-size: large;
 border-right: unset;
    padding-right: 12px;
    padding: 12px;
    display: flex;
    align-items: unset;
    position: relative;
    justify-content: unset;
    z-index: 999;
}
.fixed-more{
    position: fixed;
    right: -100vh;
    height: 50vh;
    width: 20%;
    background-color: var(--backgr);
    border-radius: 33px 2px 7px;
    display: flex;
    transition: all 1.2s cubic-bezier(0.86, 0, 0.07, 1);
    /* align-items: center; */
    padding-left: 7%;
    /* justify-content: center; */
    top: 3%;
z-index: 999999999;
    
}
.fixed-more-active{
    position: fixed;
z-index: 999999999;
    right: 0vh;
    height: 50vh;
    width: 30%;
    background-color: var(--backgr);

    border-radius: 33px 2px 7px;
    display: flex;
    padding-left: 7%;
}
.link{
    display: flex;
    width: 100%;
    position: relative;
}

.link ul{
    margin-top: 12%;
}
.link ul li{
    margin-top: 12%;
    width: 90%;
    padding: 11px;
}
.link ul li:hover{
    margin-top: 12%;
    width: 100%;
    transition: all 1.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    
}
.cls{
    font-size: 23px;
    position: absolute;
    cursor: pointer;
    right: -22px;
    top: -25px;
    background-color: var(--text);
    color: var(--red);margin-top: 9px;
}
}












.logo-c{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 22px;
    align-items: center;
}
.logo-c div{
    display: flex;
    gap: 12px;
}
.logo-c {
    display: flex;
    gap: 12px;
}
.form-search{
    width: auto;
    height: auto;
}

.form-search form{
    width: 400px;
    background-color: var(--text);
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 9px;
    justify-content: center;
}
.form-search form b{
    width: 100%;
    height: 100%;
    
}
.form-search form b input{
    width: 100%;
    background-color: transparent;
    height: 100%;
    border: none;
    padding: 12px;
}
.form-search form big{
    width: fit-content;
    background-color: transparent;
    height: 100%;
    border: none;
}
.form-search form big button{
    width: fit-content;
    background-color: var(--red-text);
    padding: 12px;
    height: 100%;
    border: none;
    cursor: pointer;
}
.form-search form big button i{
   font-size: large;
}






@media screen and (max-width:833px) {
    /* .barclic{
        display: flex;
    } */
    .mainoverall{
        display: flex;
        width: 100%;
        height: 100%;
        overflow: auto;
        /* grid-template-columns: 70% 30%; */
        padding: 22px;
        
        /* position: sticky; */
    }
 
    .hiddes{
        display: none;
        visibility: hidden;
        position: absolute;
    }
    .logo-c{
        width: 100%;
    }
    .form-search{
        width: auto;
        height: auto;
    }
    
    .form-search form{
        width: 100%;
        background-color: var(--text);
        height: 50px;
        display: flex;
        align-items: center;
        border-radius: 9px;
        justify-content: center;
    }
    
.main{
    display: flex;
    align-items: flex-start;
    width:fit-content;
    padding: 12px;
    font-size: small;
    /* overflow: scroll; */
    height: fit-content;
    position: relative;
    
}
.main span{
 margin-left: 12px;
 width: 134px;
 height: 150px;
 max-height: 260px;
 background-color: var(--text);
 border-radius: 10%;

 overflow: hidden;
 position: relative;
}
.main-user-pic{
 border-radius: 10%;

    width: 100%;
    height: 100%;
    object-fit: fill;
    border: 2px solid rgb(26, 177, 223);
}

.main-deatal{
    position: absolute;
    background:linear-gradient(to top, rgba(7, 6, 6, 0.644), rgba(12, 0, 0, 0));
    z-index: 999;
    top: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
}

.friends-pic{
    height: 40px;
    max-width: 50px;
    min-width: 30px;
    border-radius: 50%;
    object-fit: contain;
    position: absolute;
    top: 9px;
    box-shadow:unset;
    left: 12px;
}
}


::-webkit-scrollbar-button{
    width:  3vw;
    /* background-color: rgba(128, 79, 79, 0.315); */
}
::-webkit-scrollbar{
    width:  .7em;
    /* background-color: rgba(128, 79, 79, 0.315); */
}
::-webkit-scrollbar-track{
    height: 2.1vh;
    border-radius: 22px;
    background-color: rgba(197, 195, 195, 0.315);
}
::-webkit-scrollbar-thumb{
    border-radius: 22px;

    background-color: rgb(230, 230, 230);
}


/* .barclic{
    display: none;
} */

