:root {
    --backgr:rgb(0, 1, 44);
    --text:rgba(255, 255, 255, 0.192);
    --text2:rgb(255, 255, 255);
    --backgr2:rgb(209, 18, 18);
    --red-text:rgba(209, 18, 18, 0.781);
    --online:rgb(125, 211, 39);
    --fw: bold;
    --fs: italic;
    --fofamily: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }


body{
    background-color: var(--backgr);
    height: 100vh;
    overflow: hidden;
    color: snow;
    text-transform: capitalize;
    
}
.upload{
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url('../assets/imageperson/low-angle-shot-modern-glass-260nw-137977967.jpg ');
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  form{
    display: flex;
    flex-direction: column;
    border:2px  solid rgba(255, 255, 255, 0) ;
    box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.609);
    backdrop-filter: blur(33px);
    height: fit-content;
    padding: 22px;
    width: 40%;
    span{
      display: flex;
      flex-direction: column;
     
    }
    button{
      padding: 23px;
      width: fit-content;
      background-color: var(--red-text);
      color: white;
      border: none;
      border-radius: 5px;
    }
  }
  form > *{
    margin: 33px;
    
    
  }
}
select{
  background-color: var(--backgr);
  color: white;
  padding: 12px;
  border: none;
}
select > *{
  width: 100px;
}
textarea{
  background-color: var(--backgr);
  padding: 22px;
  color: white;
  border: none;
}
@media screen and (max-width:900px) {
 
.upload{
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url('../assets/imageperson/low-angle-shot-modern-glass-260nw-137977967.jpg ');
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  form{
    display: flex;
    flex-direction: column;
    border:2px  solid rgba(255, 255, 255, 0) ;
    box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.609);
    backdrop-filter: blur(33px);
    background-color: rgba(0, 1, 44, 0.356);
    height: fit-content;
    max-height: 80%;
    padding: 22px;
    width: 90%;
   
    center{
      width: 100%;
      H1{
        display: flex;
        font-style: italic;
        color: rgba(209, 18, 18, 0.781);
      }
    }
    span{
      display: flex;
      flex-direction: column;
     
    }
    button{
      padding: 23px;
      width: fit-content;
      background-color: var(--red-text);
      color: white;
      border: none;
      border-radius: 5px;
    }
  }
  form > *{
    margin: 33px;
    
    
  }
}


}

.uploadss{
  border: 2px solid rgba(255, 255, 255, 0.144);
  background-color: rgba(0, 1, 44, 0.692);
  padding: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  

}
.uploadss > *{
  margin: 9px;
}